$white: #ffffff !default;
$black: #000000 !default;
$gray: #212529;
$light-gray: #42464a;
$gray-hover: #2c3237;
$danger: #dd0000;
$success: #51c0a9;
$warning: orange;
$muted: #bdc5cd;
$info: aqua;
$primary: #0d6efd;
$primary-light: #67d7f7;
$secondary: #004149;
$text-secondary: #212529;
$bg-primary: #552090;
$bg-secondary: #0b4d44;
