//
// Buttons Base
//

// Button
.btn {
  // Reset outline
  outline: none !important;
  // Reset focus shadow
  &:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg) {
    box-shadow: none !important;
  }

  // Remove border
  &:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    border: 0;
  }
}

// Icons
.btn {
  // Font icon
  i {
    display: inline-flex;
    padding-right: 0.35rem;
    vertical-align: middle;
    line-height: 0;
  }

  // Svg icon
  .svg-icon {
    flex-shrink: 0;
    line-height: 0;
    margin-right: 0.5rem;
  }

  // Icon only button
  &.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    // Remove border
    &:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush) {
      border: 0;
    }

    // Sizes
    i,
    .svg-icon {
      padding: 0;
      margin: 0;
      line-height: 1;
    }
  }
}

.svg-icon-primary svg {
  [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
    fill: white;
  }
}

.svg-icon-danger svg {
  [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
    fill: rgb(171, 9, 9);
  }
}
