p {
  margin-bottom: 0;
}
hr {
  background-color: $muted;
}
.badge-bg-primary {
  background-color: $bg-primary;
}
.badge-bg-secondary {
  background-color: $bg-secondary;
}

.infinite-scroll-component__outerdiv {
  height: 100%;
  p {
    color: $light-gray;
  }
}

.modal-content {
  background-color: $gray;
  color: $muted;
  text-align: center;
  & .modal-header {
    border-bottom: none;
  }
}
